version 5.249.2
source https://api.nuget.org/v3/index.json
framework: netstandard2.1

nuget FSharp.Core 4.7.2

group Tests
    source https://api.nuget.org/v3/index.json
    framework: netcoreapp3.1
    nuget Expecto 9.0.2
    nuget Microsoft.NET.Test.Sdk 16.7.0
    nuget YoloDev.Expecto.TestSdk 0.9.2
    nuget FSharp.Core 4.7.2

group Game
    source https://api.nuget.org/v3/index.json
    framework: netcoreapp3.1
    nuget MonoGame.Extended 3.7.0
    nuget MonoGame.Framework.DesktopGL 3.8.0.1641
    nuget MonoGame.Content.Builder.Task 3.8.0.1641
    nuget FSharp.Core 4.7.2